﻿<link rel="stylesheet" href="/Content/bootstrap.css">
<h1 align="center">Registrar Servicio </h1>

<div class="row">

    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-info">
  <div class="panel-heading" style="text-align:center">
      <h4>Crear Servicio</h4></div>
  <div class="panel-body">
        <form action="/Servicios/Create" method="post">

            <div class="form-group">
                <label for="">ID</label>
                <input type="text" name="Id_servicio" class="form-control" readonly="readonly" placeholder="Id servicio"/>
            </div>

            <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" name="NombreServicio" class="form-control" placeholder="Nombre servicio"/>
                <span>@Html.ValidationMessage("NombreServicio", "El campo Nombre es obligatorio.")</span>
            </div>

            <div class="form-group">
                <label for="">Precio</label>
                <input type="text" name="Precio" class="form-control" placeholder="Precio"/>
                <span>@Html.ValidationMessage("Precio")</span>
            </div>

            <div class="form-group">
                <label for="">Descripcion</label>
                <input type="text" name="Descripcion" class="form-control" placeholder="Descripcion"/>
                <span>@Html.ValidationMessage("Descripcion")</span>
            </div>

            
                <nav>
  <ul class="pager">
    <button class="btn btn-primary glyphicon glyphicon-floppy-saved">Guardar</button>

            <a href="/Servicios/Index" class="btn btn-danger">
                <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                cancelar
            </a>     
  </ul>
</nav>

        </form>
    </div>

</div>
</div>
</div>
</div>



