﻿<link rel="stylesheet" href="/Content/bootstrap.css">
@using ElGanadero.Model;
@{
    ViewBag.Title = "categoria";
}
@model ProductoModel

<h2>categoria</h2>

@using (Html.BeginForm("categoriaList", "Cliente", FormMethod.Post, new { @id = "regionForm" }))
{
    <div class="form-group">
        <label for="cliente">Cliente: </label>
        <div class="editor-field">
            @*@Html.DropDownList("id", "nombre")*@;
         @*   @Html.ValidationMessageFor(model => model.IdClasificacion)*@
            
        </div>
    </div>
}
