﻿
<link rel="stylesheet" href="/Content/bootstrap.css">


@using ElGanadero.Model;
@model ProductoModel

    <h1 align="center"> INSERTAR PRODUCTO </h1>
<div class="col-sm-8  col-md-offset-2" >
          <div class="panel panel-info">
  <div class="panel-heading" style="text-align:center">
      <h4>Crear  Producto</h4></div>
  <div class="panel-body">
    <div class="col-sm-6  col-md-offset-3" >
             <form action="/producto/create" method="post">


              <div class="form-group">
                    <label for="Descripcion/">Descripcion</label>
                    <input type="text" name="NombreProducto" Class="form-control" 
                        placeholder="descripcion"></input>
                  
                 </div>

                     <div class="form-group">
                    <label for="Precio/">Precio</label>
                    <input type="text" name="Precio"  Class="form-control" 
                        placeholder="Precio" ></input>
                         <asp:RegularExpressionValidator ID="RegularExpressionValidator13"  
                                        ErrorMessage="* Ingrese solo números"
                                        ForeColor="Red"
                                        ControlToValidate="TextBox2"
                                        ValidationExpression="([0-9]|-)*">
                             </asp:RegularExpressionValidator>
                 </div>

                     <div class="form-group">
                    <label for="Stock/">Marca</label>
                    <input type="text" name="Marca"  Class="form-control" placeholder="Marca"></imput>
                       
                 </div>
                
                 <div class="form-group">
        <label for="categoria">Categoria: </label>
        <div class="editor-field">      2
         @Html.DropDownList("IdCategoria", "Descripcion");
         @*   @Html.ValidationMessageFor(model => model.IdClasificacion)*@
            
        </div>
    </div>

                    
    <nav>
        <ul class="pager">
            <button class="btn btn-primary glyphicon glyphicon-floppy-saved">Guardar</button>         
                  <a href="/Producto/Inicio" class="btn btn-danger">
                <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                cancelar
            </a>
        </ul>
    </nav>

    </form>
  </div>
</div>
</div>
</div>
      


