﻿<link rel="stylesheet" href="/Content/bootstrap.css">
@model Ganadero.Model.Entidades.Venta
<h3 align="center>ANULAR VENTA</h3>

<div class="row">
    <div class="col-sm-6  col-md-offset-3">
          <div class="panel panel-info">
  <div class="panel-heading" style="text-align:center">
      <h4>Anulr venta</h4></div>
  <div class="panel-body">
        <form action="/Venta/anular/@Model.ventaID" method="post">
            <div>
                 <h3 align="center>Editar Producto</h3>
            </div>
               </div>

                     <div class="form-group">
                    <label for="Stock/">Anular:</label>
                    <input type="CheckBox" name="estado"  Class="form-control" placeholder="anular"
                       value="@Model.estado" ></imput>
                 </div>
             </div>


           <div class="form-group">
                    <label for="Descripcion/">ventaID:</label>
                    <input type="text" name="ventaID" Class="form-control" 
                        placeholder="descripcion" value="@Model.ventaID"  readonly="true"></input>
                 </div>
            <div class="form-group">
                    <label for="Descripcion/">Id-Cliente:</label>
                    <input type="text" name="identiti" Class="form-control" 
                        placeholder="descripcion" value="@Model.identiti"  readonly="true"></input>
                 </div>
            <div class="form-group">
                    <label for="Descripcion/">tipo comprobante</label>
                    <input type="text" name="tipocomprobante" Class="form-control" 
                        placeholder="descripcion" value="@Model.tipocomprobante" readonly="true"></input>
                         
                 
                 </div>

                    
                     <div class="form-group">
                    <label for="Precio/">fecha:</label>
                    <input type="text" name="fecha"  Class="form-control" 
                        placeholder="fecha" value="@Model.fecha" readonly="true" ></input>
              

                     <div class="form-group">
                    <label for="total"/>Total:</label>
                    <input type="text" name="total"  Class="form-control" placeholder="Marca"
                       value="@Model.total"  readonly="true" readonly="true"></imput>
                 </div>
                                 <div class="form-group">
                    <label for="Stock/">DETALLE ID</label>
                    <input type="text" name="detalleventa"  Class="form-control" placeholder="Marca"
                       value="@Model.detalleventa"  readonly="true"></imput>
                 </div>

                 
            </div>


<nav>
  <ul class="pager">
                 <button class="btn btn-primary glyphicon glyphicon-floppy-saved" >Guardar</button>

             <a href="/Producto/inicio" class="btn btn-danger">

                <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                cancelar
            </a>
  </ul>
</nav>
        </form>
           
    </div>

</div>
</div>

    