﻿@model List<ElGanadero.Model.DetalleVenta>
  
<table class="table">
    <thead>
        <tr>
            <th>Idventa</th>
            <th>producto nombre</th>
            <th>catidad</th>
            <th>precio</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdVentas</td>
                <td>@item.Producto.NombreProducto </td>
                <td>@item.cantidad</td>
                 <td>@item.preciodeta</td>
            </tr>
        }
    </tbody>
</table>
     
